.contacts-container {
      margin-top: 200px;

      .contacts__offices {
            width: 100%;
            @include flex-row;
            justify-content: space-between;

            .office {
                  max-width: 250px;
                  @include flex-col;
                  align-items: start;

                  .office__title {
                        font-size: 28px;
                  }
                  .office__address, .item__value, .office__map {
                        color: $gray900;
                        font-size: 16px;
                        line-height: 160%;
                        margin-bottom: 4px;
                  }
                  .office__map{
                        color: $primary;
                        border-bottom: 1px solid $primary;
                        margin-bottom: 20px;
                  }
                  .contacts__item{
                        display: block;

                        .item__title{
                              color: $gray700;
                        }
                  }
            }
      }
}
