.hero {
      position: relative;
      width: 100%;
      height: min-content;
      overflow: hidden;

      .slider__btn {
            display: none;
            position: absolute;
            top: 50%;
      }
      #slide-hero-to-left {
            left: 32px;
      }
      #slide-hero-to-right {
            right: 32px;
      }
      .hero__slider-count {
            z-index: 100;
            position: relative;
            bottom: 120px;
            @include flex-row;
            justify-content: start;

            .slider-count-item {
                  position: relative;
                  width: 180px;
                  margin-right: 4px;
                  font-size: 28px;
                  font-weight: bold;
                  line-height: 150%;
                  color: rgba($color: $white, $alpha: 0.3);
                  border-bottom: 2px solid rgba($color: $white, $alpha: 0.3);
                  transition: 0.5s;

                  &::after {
                        position: absolute;
                        content: "";
                        width: 0%;
                        height: 2px;
                        background: $white;
                        left: 0;
                        bottom: -2px;
                        transition: 0.5s;
                  }
                  &.active {
                        color: rgba($color: $white, $alpha: 1);
                        
                        &::after {
                              width: 100%;
                        }
                  }
            }
      }
}
@media (min-width: 1400px) {
      .hero {
            .slider__btn {
                  z-index: 10000;
                  display: flex;
            }
      }
}
