.news-page .news-container {
      margin-top: 360px;

      .news__title {
            margin-bottom: 40px;
      }
      .news__filters {
            @include flex-row;
            justify-content: space-between;

            .filters__item {
                  cursor: pointer;
                  @include flex-row;
                  width: calc(100% / 6);
                  height: 46px;
                  margin-bottom: 60px;
                  color: $gray600;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 160%;
                  border-radius: 4px;
                  border: none;
                  transition: 0.5s;

                  &:hover {
                        color: $primary;
                  }
                  &.active {
                        color: $primary;
                        border: 1px solid $primary;
                  }
            }
      }
      .news__list {
            @include flex-row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 60px;

            .news__item {
                  box-shadow:
                        0px 4px 4px -4px rgba(30, 33, 44, 0.03),
                        0px 12px 10px -6px rgba(154, 156, 165, 0.04),
                        0px 30px 24px -10px rgba(154, 156, 165, 0.05),
                        0px 80px 80px -20px rgba(154, 156, 165, 0.08);
                  max-width: 600px;
            }
      }
      .news__pagination {
            margin: auto;
            @include flex-row;
            gap: 20px;

            span,
            svg {
                  cursor: pointer;
            }
            span {
                  color: $gray800;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 160%;

                  &.active {
                        color: $primary;
                  }
            }
      }
}
