.learn-more {
      margin-top: 80px;
      width: 100%;
      @include flex-row;

      .learn-more__title {
            font-size: 28px;
            margin: 0;
            padding-right: 40px;
      }
}
