.page-title__container {
      margin-top: 80px;
      @include flex-col;
      align-items: start;

      .breadcrumb {
            color: $gray600;
            font-size: 14px;
            font-weight: normal;
            line-height: 150%;

            a {
                  color: $gray800;
                  transition: 0.5s;

                  &:hover {
                        color: $primary;
                  }
            }
      }
      .page-title__title {
            margin-top: 40px;
            max-width: 600px;
            text-align: start;
            color: $gray900;
            font-size: 72px;
            font-weight: bold;
            line-height: 130%;
            letter-spacing: 1px;
      }
      .page-title__subtitle {
            color: $gray700;
            font-size: 20px;
            max-width: 600px;
            text-align: start;
      }
      .page-title__background {
            position: absolute;
            right: 0;
            top: -20px;
            width: fit-content;
            height: 600px;
            z-index: -1;
      }

      //post page
      .post-page-title__title {
            text-align: start;
            font-size: 64px;
            margin-top: 40px;
            margin-bottom: 48px;
      }
      .page-title__additional {
            @include flex-row;
            width: 100%;
            justify-content: space-between;

            .page-title__meta {
                  color: $gray700;
                  margin-bottom: 60px;

                  span {
                        color: $gray700;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;

                        &:first-child {
                              color: $primary;
                              font-weight: 700;
                        }
                  }
            }
            .page-title__social {
                  @include flex-row;
                  gap: 12px;

                  svg {
                        cursor: pointer;

                        path {
                              transition: 0.5s;
                        }
                        &:hover path {
                              fill: $primary;
                        }
                  }
            }
      }
}
